*, *::before, *::after {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

img {
    display: block;
}

header {
    padding: 20px;
    text-align: center;
    background-color: rgb(64, 64, 153);
    color: white;
    margin-bottom: 30px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid black;
}

#btn-container {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.btn {
    padding: 5px 10px;
    background-color: rgb(69, 69, 197);
    border: 1px solid transparent;
    color: white;
    border-radius: 5px;
}