*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: azure;
}

main {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgb(101, 255, 255);
}

ul {
    list-style: none;
}

header {
    background-color: rgb(181, 181, 91);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Write your code below */

nav li {
    cursor: pointer;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.dropdown {
    position: relative;
}

.sub-menu {
    position: absolute;
    background-color: rgb(181, 181, 91);
    padding: 20px;
    display: none;
}

.sub-menu-item {
    padding: 10px 0;
}

.dropdown:hover > .sub-menu {
    display: block;
}